
     html { font-size: 16px; }

     body {
       font-family: 'IBM Plex Serif', serif; Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       font-size: .875rem;
       line-height: 1.5rem;
       margin: 5%;
       max-width: 40em;
       color: #161616;
       background: #f4f4f4;
     }

     h1 {
       font-size: 2rem;
       line-height: 1rem;
       font-weight: 400;
       margin-bottom: 4rem;
     }

     h2 {
       font-size: 1rem;
       line-height: 1.5rem;
       font-weight: 400;
       color: #161616;
     }

     h3 {
       font-size: .875rem;
       line-height: 1.5rem;
       font-weight: 400;
       color: #393939;
       margin-bottom: 4rem;
     }

     a {
       color: #0f62fe;
       text-decoration: none;
     }

     a:hover {
       text-decoration: underline;
     }

     book {
       font-size: 2rem;
       line-height: 1rem;
       font-weight: 400;
       margin-bottom: 2rem;
     }

     author {
       font-size: .875rem;
       line-height: 1.5rem;
       font-weight: 400;
       margin-bottom: 4rem;
     }

     section {
       padding-top: 1rem;
       padding-bottom: 1rem;
     }

     footer {
       border-top: 1px solid #bbb;
     }
     dl {
       text-transform: uppercase;
       font-size: 1.2rem;
       color: #000;
     }
     ul {
       list-style: none;
       margin-left: 0;
       padding-left: 0;
     }
     ul > li {
       margin-bottom: 1rem;
     }
     dl ~ ul > li > a:first-child {
       font-weight: bold;
     }



     @media (prefers-color-scheme: dark) {
       body {
         color: #ccc;
         background: #000;
       }
       h1, dl {
         color: #fff;
       }
       a {
         color: #80ecfc;
       }
     }
